body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background: #c01a1a;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #28a745;
  color: rgb(7, 7, 7);
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

#resultados {
  margin-top: 20px;
  background: #e9ecef;
  padding: 15px;
  border-radius: 8px;
}
